<aside class = "mapToolbar">
	<h1>Map Toolbar</h1>

	<form action = "/">
		<fieldset>
			<input type = "search" name = "seng-515-search" placeholder = "Search..." required x-webkit-speech results = "10" autosave = "seng-515-search"/>
		</fieldset>
		<fieldset>
			<legend>Advanced Options</legend>
			{{#each constraint}}
				<label for = "{{this.name}}">{{this.name}}</label>
				<input type = "checkbox" name = "{{this.name}}" id = "{{this.name}}"/>
			{{/each}}
		</fieldset>
		<fieldset>
			<legend>Layers</legend>
			{{#each layer}}
				<label>
					{{view Ember.Checkbox checkedBinding="model.isDone"}}
					{{model.title}}
				</label>
			{{/each}}
		</fieldset>
	</form>
	{{outlet}}
</aside>

